In [2]:
import pandas as pd
import numpy as np

In [3]:
p = pd.read_csv('3번군집.csv',encoding='cp949')
p = p.set_index('고객번호')
p

,고객번호,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
0,4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,13,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,15,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5466,19293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5467,19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
5468,19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5469,19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5470,19322,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0

In [4]:
# 코사인 유사도를 하기 위해서 전치 행렬을 구하는 단계 
p_T = p.transpose()
p_T.head(3)

,0,1,2,3,4,5,6,7,8,9,...,5461,5462,5463,5464,5465,5466,5467,5468,5469,5470
고객번호,4.0,10.0,13.0,14.0,15.0,20.0,21.0,27.0,34.0,50.0,...,19274.0,19276.0,19278.0,19286.0,19289.0,19293.0,19301.0,19310.0,19311.0,19322.0
14K,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2단우산,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(3521, 3521)

,고객번호,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,1.000000,0.180122,0.068282,0.079619,0.343987,0.241127,0.015296,0.032753,0.127652,0.016218,...,0.007947,0.0,0.070641,0.285445,0.176559,0.277674,0.311237,0.037911,0.0,0.042968
14K,0.180122,1.000000,0.012628,0.020148,0.034783,0.212301,0.122510,0.026210,0.150199,0.029466,...,0.000000,0.0,0.090041,0.057608,0.019315,0.034065,0.036538,0.000000,0.0,0.074835
2단우산,0.068282,0.012628,1.000000,0.128206,0.007478,0.004248,0.000000,0.000000,0.004007,0.000000,...,0.000000,0.0,0.016139,0.021627,0.070930,0.019705,0.022582,0.000000,0.0,0.000000

In [7]:
# 예시적으로 기호품등급에 유사도가 높은 상위 6개 추출 
item_sim_df["AK골프"].sort_values(ascending=False)[1:6]

유아복         0.271847
오클리         0.253546
나이키골프       0.222718
식당가 레스토랑    0.176706
아동신발        0.152242
Name: AK골프, dtype: float64

In [8]:
# 코사인유사도 내적곱한값을 코사인 유사도 절대값의 합으로 나눈 거(정규화를위해서)
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [9]:
# 개인별 상품 예측 
p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix.head(3)

C:\Users\admin\AppData\Local\Temp/ipykernel_9356/674637514.py:4: RuntimeWarning: invalid value encountered in true_divide
  p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])

,고객번호,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
0,0.416301,1.087649,0.395250,0.373026,0.250591,0.749637,0.532717,0.723482,1.241641,1.032371,...,0.417185,NaN,1.640067,0.311517,0.349429,0.250633,0.260406,0.229398,NaN,1.212770
1,1.803272,1.211136,3.298644,3.419337,1.228907,1.305898,0.870960,1.243851,1.208882,0.324221,...,1.141366,NaN,0.930623,1.220448,4.230715,1.304697,1.312936,3.522579,NaN,1.155313
2,1.729736,1.493210,1.254363,1.116296,2.053080,1.565438,0.819904,1.562076,1.618786,0.853380,...,1.455290,NaN,1.756554,1.662808,1.136480,1.942115,1.956955,0.995786,NaN,1.314231

In [10]:
from sklearn.metrics import mean_squared_error

# mse =실제와 예측 점수차이 비교 
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 322172.6378935778

In [11]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [12]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\admin\AppData\Local\Temp/ipykernel_9356/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\admin\AppData\Local\Temp/ipykernel_9356/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
C:\Users\admin\AppData\Local\Temp/ipykernel_9356/4050495572.py:9: RuntimeWarning: invalid value encountered in double_scalars
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 316090.21650210867

In [13]:
p_pred_matrix

,고객번호,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
0,0.742361,2.196107,0.106476,0.623491,0.048684,1.704636,0.436972,0.000000,2.544300,0.000000,...,0.072537,NaN,5.324272,0.308127,0.648318,0.103473,0.000000,0.000000,NaN,0.239850
1,5.677388,1.284570,7.346520,11.305734,0.379899,0.685804,0.000000,0.048212,0.813387,0.000000,...,0.124266,NaN,0.817794,1.049911,17.297028,1.793769,2.402798,0.426122,NaN,0.000000
2,11.290300,1.337930,0.525173,1.090264,11.181969,0.701441,0.052410,0.000000,2.175498,0.018697,...,0.338585,NaN,5.403177,2.271764,0.737295,6.999821,7.115784,0.000000,NaN,0.034264
3,3.176455,1.109921,1.401580,1.225590,1.177536,0.919785,0.804565,0.433912,2.226945,0.208138,...,0.068176,NaN,6.562766,1.486909,2.366745,0.586251,0.369690,0.038871,NaN,0.208530
4,3.928548,1.212596,0.188927,0.308910,2.064666,1.468300,0.020964,0.144637,1.870042,0.000000,...,0.064207,NaN,2.242560,1.771849,0.265754,2.165959,1.262093,0.000000,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5466,1617.675281,0.040703,0.066968,0.212783,4.985127,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.131140,NaN,0.044646,845.684729,0.050808,5.268660,2.661918,0.000000,NaN,0.000000
5467,1618.651636,0.000000,0.169193,0.447717,4.385909,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.331699,NaN,0.044646,846.702385,0.094386,3.986256,5.792026,0.000000,NaN,0.000000
5468,1612.554721,1.879402,0.039148,0.153787,0.000000,1.941953,0.049689,0.000000,0.412708,6.533847,...,0.000000,NaN,0.491640,843.971534,0.088343,0.000000,0.000000,0.000000,NaN,0.180664
5469,1629.414751,0.091337,0.102438,0.886120,14.866096,0.181584,0.125785,0.000000,0.036730,0.000000,...,0.118032,NaN,0.038453,846.624866,0.000000,10.471813,4.436917,0.000000,NaN,0.000000
5470,1617.713618,0.080649,0.068224,0.070973,2.458051,0.645203,0.062892,0.000000,0.000000,0.000000,...,0.179885,NaN,0.000000,847.376133,0.000000,4.173789,2.123397,0.000000,NaN,0.000000

In [14]:
user_p_id =p.loc[6,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

떠먹는요구르트      65.0
보네스빼         47.0
재사용봉투        44.0
민속주          38.0
토종닭          38.0
기능성웰빙돼지고기    34.0
국내생수         29.0
일반흰우유        28.0
국산콩나물        27.0
마시는요구르트      27.0
Name: 6, dtype: float64

In [15]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [16]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,9)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 9, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

            pred_score
계육           36.988154
선식(가루류)      35.506649
주류           33.937955
장류           32.999507
안주류          32.936501
건어물류         31.445531
global SPA   28.841542
친환경올가        27.338235
즉석구이김류       26.858576
건강식품(비타민)    26.780326
가공선물세트       26.186840
우/양산(특정)     26.154129
특산물행사        24.674167
공병           22.232314
친환경세트        22.230863
김세트          22.069944
초밥           22.031753
안주세트         20.384411
수삼/더덕세트      19.808103
에스닉푸드        19.629311

In [17]:
#응용구현 1 고객번호 검색
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])
recomm_pr[:5]

고객번호를 입력하세요:10

           추천점수
김류    23.275694
즉석반찬  21.887866
규격김치  21.776412
안주류   20.147736
건어물류  19.956922

In [15]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,999)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 999, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

          pred_score
농산단기행사     11.570124
일용잡화       11.058498
계육         11.025836
가공행사       10.942984
멸치류        10.416011
건강식품(홍삼)   10.369172
규격김치       10.083893
대형테넌트      10.081547
수산단기행사     10.055256
선식(가루류)     9.865660
건생선         9.815528
에스프레소       9.774314
뷰티상품        9.757699
화과자         9.691874
규격젓갈        9.621160
양념육         9.521074
기타생선        9.450133
벌크김치        9.326907
친환경올가       9.291204
장류          9.233583

In [16]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)

aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)

df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,704).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

고객번호   index  할인여부_y 할인율_y
0        14K     1.0   27%
1       2단우산     1.0   36%
2       3단우산     0.0   0.0
3      3분요리류     0.0   0.0
4     4대 B/D     1.0   22%
...      ...     ...   ...
3515     흑미류     0.0   0.0
3516   흰다리새우     0.0   0.0
3517      히터     1.0   26%
3518     히터기     0.0   0.0
3519    힐앤토트     0.0   0.0

[3520 rows x 3 columns]

In [17]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res

        품목명       평가점수  할인여부  할인율
1      일용잡화  11.058498   1.0  32%
9   선식(가루류)   9.865660   1.0  21%
13      화과자   9.691874   1.0  39%

In [18]:
#응용구현 3 최근성 추가

def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,50)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 50, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['pred_score'])
display(recomm_pr[:10])


re= pd.read_csv('추천최근.csv',encoding='cp949')
df_cust=pd.read_csv('PRODCL2.csv',encoding = 'utf8')
df_cust = df_cust[['소분류코드','소분류명']]
df_cust = df_cust.set_index('소분류코드')

def re_pro(num):
    li=re.loc[re['고객번호']==num,'소분류코드'].tolist()
    item_Id = np.random.choice(li)
    item = df_cust.loc[item_Id,'소분류명']
    item_se = item_sim_df[item].sort_values(ascending=False)[:10]
    recomm_pr = pd.DataFrame(data=item_se.values, index = item_se.index,columns=['추천점수'])
    display(recomm_pr)
    
re_pro(50)

            pred_score
계육           37.312570
안주류          36.010763
선식(가루류)      35.595171
장류           35.540422
주류           34.223999
특산물행사        33.095767
농산단기행사       30.590962
건강식품(비타민)    29.602362
초밥           29.316041
global SPA   28.953238

FileNotFoundError: [Errno 2] No such file or directory: '추천최근.csv'

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
# 확률적 경사하강법을 이용한 행렬 분해

#경사하강법 = '점진적으로'반복적인 계산을 통해 \파라미터 값을 업데이트하면서 오류값이 최소가 되는 \파라미터 구하는 방식
#' 데이러를 기반으로 알고리즘이 스스로학습한다',는 머신러닝의 개념을 가능하게해준 핵심기법

def get_rmse(R, P, Q, non_zeros):             # R= 실제행렬값   p,q = 분해된 행렬값(?)  # get_rms = 실제행렬과 예측 행렬의오차를구하는 함수
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P,Q.T)                                # P와 Q.T를 dot(내적) = 예측 R행렬 
    
    # 실제 R 행렬에서 NULL이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]   # ( non_zeros안에  non_zero를 0을 제외하고 반복적으로 수행)
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]   #(non_zeros안에 non_zero를  0부터 추출한다(?))
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind,y_non_zero_ind] # 예측 R행렬 full_pred_matrix에 (x,y)을 넣고
     
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros) # mse = mse(실제행렬, 예측행렬)
    rmse = np.sqrt(mse)    # rmse 는 mse에 루트
    
    return rmse

In [ ]:
# 행렬 분해
# 책에서 이미 설정해놓은것  R  = 사용자-아이템 평점 행렬 k = 잠재요인  learning_rate=학습률 r_lambda = L2규제계수
# matrix_factorization = 행렬 분해 로직 

def matrix_factorization(R, K, steps=100, learning_rate=0.01, r_lambda=0.01):            
    num_users, num_items = R.shape                         # 사용자-아이템 평점 행렬의 컬럼이 num_users, num_items 다(?)
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size = (num_users,K))   #P = 정규분포 (scale=1./K, size = (num_users,K)
    Q = np.random.normal(scale=1./K, size = (num_items,K))    #Q = 정규분포 (scale=1./K, size = (num_users,K)
    
    prev_rmse=10000                   # 설명을 할수가없다 (그냥 대입이라서)
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]   # 
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트   SGD(경사하강법)
    for step in range(steps):  # steps는 SGD의 반복횟수      
        for i, j, r in non_zeros:                                       # 
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i,:],Q[j,:].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])
            
        rmse = get_rmse(R,P,Q, non_zeros)
        if ( step % 10) == 0: # 10회 반복할 때마다 오류 값 출력
            print(f'iteration step: {step}, rmse: {rmse}')
    return P, Q

In [ ]:
p= pd.read_csv('./data/test21.csv',encoding='cp949')

p = p.set_index('고객번호')
p

In [ ]:
p1 = p.copy()
p1

In [ ]:
p.info()

In [ ]:
p.values

In [ ]:
p.count()

In [ ]:
p.dtypes

In [ ]:
p =p.replace([np.inf, -np.inf], 0)
p

In [ ]:
p= p.fillna(0)
p

In [ ]:
P, Q = matrix_factorization(p.values, K=50, steps=100, learning_rate=0.01,
                           r_lambda = 0.01)
pred_matrix = np.dot(P,Q.T)

In [ ]:
p_pred_matrix = pd.DataFrame(data=pred_matrix, index=pred_matrix.index,
                                  columns = pred_matrix.columns)
p_pred_matrix.head(3)

In [ ]:
notbuy_list = get_notbuy_product(p,9)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 9, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr