In [1]:
import pandas as pd
import numpy

movies = pd.read_csv('./data/ml-latest-small/movies.csv')
ratings = pd.read_csv('./data/ml-latest-small/ratings.csv')
print(movies.shape)
print(ratings.shape)

(9742, 3)
(100836, 4)

In [2]:
ratings = ratings[['userId', 'movieId','rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')
ratings_matrix.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
### title 칼럼을 얻기 위해 moives 와 조인
rating_movies = pd.merge(ratings,movies, on='movieId')

### columns='title'로 title 칼럼으로 피벗 수행
ratings_matrix = rating_movies.pivot_table('rating',index='userId',columns='title')

### NAN 값을 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
### 행과 열을 바꾼 새로운 행렬
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity 로 반환된 넘파이 행렬을 영화명을 매핑해 데이터프레임으로 변환
item_sim_df = pd.DataFrame(data=item_sim, index =ratings_matrix.columns,
                          columns=ratings_matrix.columns)

print(item_sim_df.shape)
item_sim_df.head(3)

(9719, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.0,0.0,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [8]:
## 유사도가 높은 상위 6개 추출 (Godfather)

item_sim_df["Godfather, The (1972)"].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [9]:
# 다른 영화와 유사도가 높은 영화 (Inception )

item_sim_df["Inception (2010)"].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

In [14]:
# 코사인 유사도를 벡터 내접 곱한 값을 정규화를 위해 나눈것 

def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr)/ np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [16]:
## 개인화된 예측 평점 구하기 
import numpy as np
ratings_pred = predict_rating(ratings_matrix.values,item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, \
                                  columns = ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501

In [17]:
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 
def get_mse(pred,actual):
    # 평점이있는 실제 영화만 
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:',get_mse(ratings_pred, ratings_matrix.values))

아이템 기반 모든 최근접 이웃 MSE: 9.895354759094706

In [20]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n =20):
    # 사용자 - 아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬을 초기화
    pred = np.zeros(ratings_arr.shape)
    
    #사용자-아이템 평점 행렬의 열 크기만큼 루프를 실행한다.
    for col in range(ratings_arr.shape[1]):
        #유사도가 큰 순으로 n개 데이터 행렬의 인덱스를 반환한다.
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        #개인화된 예측 평점 계산
        for row in range(ratings_arr.shape[0]):
            pred[row,col] = item_sim_arr[col,:][top_n_items].dot(ratings_arr[row
                                                                             ,:][top_n_items].T)
            pred[row,col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [21]:

ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, n =20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:',get_mse(ratings_pred,ratings_matrix.values))

#계산된 에측 평점 데이터는  데이터프레임으로 재생성 하기 (쉽게 보기 위해서 한것일뿐 큰 이유는 없다)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index,
                                  columns = ratings_matrix.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_17540/543406165.py:11: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row,col] = item_sim_arr[col,:][top_n_items].dot(ratings_arr[row
C:\Users\dlwog\AppData\Local\Temp/ipykernel_17540/543406165.py:13: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row,col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 3.6949999176225483

In [22]:
# userId = 9인 사용자한테 추천

user_rating_id = ratings_matrix.loc[9,:]
#사용자가 평점을 준 영화를평점이 높은순으로 나열 
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Producers, The (1968)                                                             5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Back to the Future (1985)                                                         5.0
Austin Powers in Goldmember (2002)                                                5.0
Minority Report (2002)                                                            4.0
Witness (1985)                                                                    4.0
Name: 9, dtype: float64

In [41]:
# 아이템 기반 협업 필터링을 통해 영화 추천(사용자가 평점준 영화 제외)
import pandas as pd

def get_unseen_movies(ratings_matrix, userId):
    # userId = 9인사용자의 모든 영화 정보를 추출해 시리즈로 반환 
    # 반환된 user_rating 는 영화명을 인덱스로 가지는 시리즈 객체
    user_rating = ratings_matrix.loc[userId,:]
    
    #user_rating 가 0보다 크면 기존에 관람한 영화 list객체로 만들었다.
    already_seen = user_rating[user_rating > 0].index.tolist()
    
    # 모든 영화명을 리스트 객체로 만듬
    movies_list = ratings_matrix.columns.tolist()
    
    #   already_seen 에 해당하는 영화는 movies_list제외
    unseen_list = [movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [47]:
# 사용자별 아이템 유사도에 기반한 예측 평점 데이터 세트를 이용해서사용자에게 영화 추천 

def recomm_movie_by_userid(pred_df,userId, unseen_list, top_n=10):
    # 가장 예측 평점이 높은 순으로 정렬
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

# 사용자가 관람하지 않는 영화 추출
unseen_list = get_unseen_movies(ratings_matrix,9)


# 아이템 기반의 최근접 이웃 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix,9,unseen_list,top_n=10)

# 평점 데이터를 데이터 프레임으로 생성
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index,
                            columns=['pred_score'])
recomm_movies

                                                    pred_score
title
Shrek (2001)                                          0.866202
Spider-Man (2002)                                     0.857854
Last Samurai, The (2003)                              0.817473
Indiana Jones and the Temple of Doom (1984)           0.816626
Matrix Reloaded, The (2003)                           0.800990
Harry Potter and the Sorcerer's Stone (a.k.a. H...    0.765159
Gladiator (2000)                                      0.740956
Matrix, The (1999)                                    0.732693
Pirates of the Caribbean: The Curse of the Blac...    0.689591
Lord of the Rings: The Return of the King, The ...    0.676711

### 행렬 분해 추천 시스템

In [63]:
import numpy as np
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P,Q.T)
    
    # 실제 R 행렬에서 NULL이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind,y_non_zero_ind]
    
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return rmse

In [64]:
# 행렬 분해
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda=0.01):
    num_users, num_items = R.shape
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size = (num_users,K))
    Q = np.random.normal(scale=1./K, size = (num_items,K))
    
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트
    for step in range(steps):  # steps는 SGD의 반복횟수
        for i, j, r in non_zeros:
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i,:],Q[j,:].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])
            
        rmse = get_rmse(R,P,Q, non_zeros)
        if ( step % 10) == 0: # 10회 반복할 때마다 오류 값 출력
            print(f'iteration step: {step}, rmse: {rmse}')
    return P, Q

In [65]:
movies = pd.read_csv('./data/ml-latest-small/movies.csv')
ratings = pd.read_csv('./data/ml-latest-small/ratings.csv')
# 컬럼이 3개만 필요 
ratins = ratings[['userId', 'movieId','rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')

rating_movies = pd.merge(ratings,movies, on='movieId')
ratings_matrix = rating_movies.pivot_table('rating',index='userId',columns='title')

In [69]:
P, Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01,
                           r_lambda = 0.01)
pred_matrix = np.dot(P,Q.T)

iteration step: 0, rmse: 2.9023619751336867
iteration step: 10, rmse: 0.7335768591017927
iteration step: 20, rmse: 0.5115539026853442
iteration step: 30, rmse: 0.37261628282537446
iteration step: 40, rmse: 0.2960818299181014
iteration step: 50, rmse: 0.2520353192341642
iteration step: 60, rmse: 0.22487503275269854
iteration step: 70, rmse: 0.2068545530233154
iteration step: 80, rmse: 0.19413418783028688
iteration step: 90, rmse: 0.18470082002720406
iteration step: 100, rmse: 0.17742927527209104
iteration step: 110, rmse: 0.1716522696470749
iteration step: 120, rmse: 0.16695181946871723
iteration step: 130, rmse: 0.16305292191997542
iteration step: 140, rmse: 0.15976691929679646
iteration step: 150, rmse: 0.1569598699945732
iteration step: 160, rmse: 0.1545339818671543
iteration step: 170, rmse: 0.15241618551077643
iteration step: 180, rmse: 0.1505508073962831
iteration step: 190, rmse: 0.14889470913232092

In [67]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index=ratings_matrix.index,
                                  columns = ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.140208,4.242193,3.662558,4.716991,4.192352,1.338553,3.598982,2.368964,5.156550,4.043151,...,1.407514,4.294833,3.877712,2.803043,2.853489,3.761076,3.250103,2.205135,4.007723,0.881563
2,3.160184,3.761387,3.382926,4.353262,4.463669,1.297374,4.052714,1.997231,3.594909,3.792066,...,1.006792,3.610837,3.419547,2.712737,2.469567,4.255816,3.042510,1.707507,4.230188,0.773066
3,2.399852,1.942074,1.681648,2.429355,2.401131,0.858204,2.355793,1.097734,2.808609,2.800695,...,0.576212,1.925044,2.339594,1.914790,1.731130,1.795356,2.748758,1.162129,2.550819,0.459202

In [68]:
# 사용자가 관람하지 않은 영화
unseen_list = get_unseen_movies(ratings_matrix,9)

# 잠재 요인 협업 필터링
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index,
                            columns=['pred_score'])
recomm_movies

                                                    pred_score
title
Rear Window (1954)                                    5.633395
South Park: Bigger, Longer and Uncut (1999)           5.436370
Blade Runner (1982)                                   5.394966
Gattaca (1997)                                        5.144675
Roger & Me (1989)                                     5.130188
Rounders (1998)                                       5.074881
Ben-Hur (1959)                                        5.037542
Yojimbo (1961)                                        5.033375
Indiana Jones and the Last Crusade (1989)             5.028594
Star Wars: Episode V - The Empire Strikes Back ...    5.011059

In [72]:
import pandas as pd
import numpy

p= pd.read_csv('./data/추천알고리즘용2.csv',encoding='cp949')

p = p.set_index('고객번호')
p

       가구등급  화장품등급  기호품등급  레저취미등급  문구류등급  식품등급  의류등급
고객번호
1       1.0    2.0    4.0     2.0    0.0   4.0   1.0
2       1.0    1.0    3.0     1.0    0.0   4.0   2.0
3       0.0    0.0    1.0     0.0    0.0   4.0   5.0
4       3.0    5.0    3.0     3.0    0.0   4.0   2.0
6       2.0    2.0    5.0     4.0    5.0   3.0   2.0
...     ...    ...    ...     ...    ...   ...   ...
19333   0.0    0.0    2.0     5.0    3.0   4.0   5.0
19334   4.0    4.0    4.0     3.0    1.0   1.0   4.0
19335   1.0    2.0    4.0     1.0    1.0   3.0   3.0
19336   5.0    3.0    5.0     0.0    0.0   5.0   2.0
19337   0.0    0.0    1.0     5.0    5.0   3.0   5.0

[18866 rows x 7 columns]

In [73]:
p_T = p.transpose()
p_T.head(3)

고객번호,1,2,3,4,6,7,8,9,10,11,...,19328,19329,19330,19331,19332,19333,19334,19335,19336,19337
가구등급,1.0,1.0,0.0,3.0,2.0,1.0,5.0,3.0,4.0,1.0,...,5.0,0.0,4.0,3.0,0.0,0.0,4.0,1.0,5.0,0.0
화장품등급,2.0,1.0,0.0,5.0,2.0,4.0,2.0,3.0,3.0,1.0,...,1.0,5.0,2.0,5.0,3.0,0.0,4.0,2.0,3.0,0.0
기호품등급,4.0,3.0,1.0,3.0,5.0,4.0,2.0,3.0,3.0,3.0,...,1.0,1.0,3.0,3.0,1.0,2.0,4.0,4.0,5.0,1.0

In [74]:
### 코사인 유사도 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)

item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(7, 7)

           가구등급     화장품등급     기호품등급    레저취미등급     문구류등급      식품등급      의류등급
가구등급   1.000000  0.718783  0.739499  0.709883  0.660539  0.731071  0.736027
화장품등급  0.718783  1.000000  0.791842  0.787196  0.715969  0.792724  0.860930
기호품등급  0.739499  0.791842  1.000000  0.771180  0.716999  0.892471  0.766664

In [75]:
item_sim_df["기호품등급"].sort_values(ascending=False)[:6]

기호품등급     1.000000
식품등급      0.892471
화장품등급     0.791842
레저취미등급    0.771180
의류등급      0.766664
가구등급      0.739499
Name: 기호품등급, dtype: float64

In [76]:
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [77]:

p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix.head(3)

          가구등급     화장품등급     기호품등급    레저취미등급     문구류등급      식품등급      의류등급
고객번호
1     1.978103  2.027787  2.148764  2.028917  1.898380  2.159557  1.962977
2     1.707674  1.724633  1.832429  1.710961  1.629364  1.852630  1.709970
3     1.386743  1.458750  1.479788  1.412419  1.377002  1.516592  1.545446

In [78]:
from sklearn.metrics import mean_squared_error


def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 1.618461783736125

In [79]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [80]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_15864/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\dlwog\AppData\Local\Temp/ipykernel_15864/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 1.6184617837361255

In [81]:
user_p_id =p.loc[1,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:12]

기호품등급     4.0
식품등급      4.0
화장품등급     2.0
레저취미등급    2.0
가구등급      1.0
의류등급      1.0
Name: 1, dtype: float64

In [91]:

def get_unseen_movies(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_seen = user_p[user_p > 0].index.tolist()

    movies_list = p.columns.tolist()

    unseen_list = [movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [105]:
def recomm_movie_by_userid(pred_df,고객번호, unseen_list, top_n=20):
    recomm_movies = pred_df.loc[고객번호, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

unseen_list = get_unseen_movies(p,2)

recomm_movies = recomm_movie_by_userid(p_pred_matrix, 2, unseen_list, top_n=20)

recomm_movies = pd.DataFrame(data=recomm_movies.values, index = recomm_movies.index,
                            columns=['pred_score'])
recomm_movies

       pred_score
문구류등급    1.629364