문제 : LMEMBERS의 상품구매데이터를 이용하여 개인맞춤 상품 추천솔루션을 구축 후 다양한 활용 방안을 시현하세요

In [1]:
import pandas as pd
import numpy

p= pd.read_csv('./data/test21.csv',encoding='cp949')

p = p.set_index('고객번호')
p

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19382,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19383,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
# 코사인 유사도를 하기 위해서 전치 행렬을 구하는 단계 
p_T = p.transpose()
p_T.head(3)

고객번호,1,2,3,4,5,6,7,8,9,10,...,19374,19375,19376,19377,19378,19379,19380,19381,19382,19383
14K,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2단우산,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3단우산,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(3520, 3520)

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
14K,1.000000,0.002385,0.003774,0.016906,0.075611,0.014094,0.002715,0.032527,0.007716,0.051733,...,0.0,0.0,0.030456,0.036425,0.008597,0.016306,0.019584,0.002615,0.0,0.019064
2단우산,0.002385,1.000000,0.108753,0.008639,0.003466,0.000000,0.000000,0.001012,0.000000,0.012811,...,0.0,0.0,0.004174,0.015124,0.055446,0.011149,0.012676,0.089082,0.0,0.000947
3단우산,0.003774,0.108753,1.000000,0.008173,0.006399,0.006332,0.000000,0.000267,0.000000,0.000000,...,0.0,0.0,0.000000,0.015231,0.071931,0.014115,0.008946,0.017622,0.0,0.000000

In [4]:
# 예시적으로 AK골프컬럼에 유사도가 높은 상위 6개 추출 
item_sim_df["AK골프"].sort_values(ascending=False)[:6]

AK골프      1.000000
김영주골프     0.187644
커리어 행사    0.150946
먼싱웨어      0.134189
국산도자기     0.102146
르꼬끄골프     0.097070
Name: AK골프, dtype: float64

In [5]:
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [6]:

p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix.head(3)

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
1,1.640137,0.377756,0.347230,0.235144,1.160549,1.207684,0.597407,1.487695,1.099612,1.081228,...,0.217414,1.703281,2.095602,0.381904,0.342617,0.237375,0.241457,0.297187,0.120949,1.787254
2,1.909909,0.312861,0.234799,0.200925,1.341412,1.429742,0.725166,1.811626,1.124493,1.167604,...,0.123294,1.772911,2.976245,0.398111,0.197268,0.201729,0.211918,0.171985,0.056256,1.792232
3,0.266435,1.288973,1.473362,0.257860,0.377467,0.191762,0.186551,0.258158,0.265465,0.264039,...,0.805211,0.013465,0.187932,0.292125,1.623181,0.248217,0.256574,1.878278,0.152659,0.302455

In [7]:
from sklearn.metrics import mean_squared_error


def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 96.29841898264233

In [8]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [9]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_8864/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\dlwog\AppData\Local\Temp/ipykernel_8864/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 72.84533929353518

In [10]:
p_pred_matrix

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
1,5.046064,0.455273,0.530702,0.191943,3.265870,0.115472,0.067426,1.257250,0.946292,1.240014,...,0.021663,0.677800,12.001340,0.217609,0.558781,0.223662,0.092204,0.031656,0.023582,3.007125
2,3.553028,0.000000,0.000000,0.050194,3.920843,0.236658,0.044765,1.211245,0.549127,0.861780,...,0.000000,0.605640,19.846352,0.169086,0.000000,0.042383,0.000000,0.000000,0.000000,1.321047
3,0.000000,3.348498,1.906345,0.000000,0.034360,0.000000,0.000000,0.000000,0.000000,0.028451,...,0.020309,0.000000,0.000000,0.000000,2.338801,0.000000,0.000000,0.497335,0.000000,0.000000
4,1.308506,0.336861,0.613791,0.045242,1.556701,0.000000,0.089529,0.343804,0.141479,0.921957,...,0.027289,0.099958,8.248441,0.048125,0.579941,0.101233,0.043511,0.035911,0.095341,0.288197
5,0.782759,0.033457,0.000000,0.000000,0.746234,0.096193,0.104451,0.388288,0.022351,0.188226,...,0.000000,0.203968,19.716038,0.000000,0.000000,0.000000,0.044649,0.000000,0.000000,0.266643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,0.547027,1.686563,0.076583,0.191272,0.384564,0.000000,0.046094,0.189073,0.000000,0.254517,...,0.000000,0.000000,0.261364,0.084742,0.342263,0.084767,0.000000,0.000000,0.023582,0.000000
19380,0.041649,0.800372,0.271346,0.000000,0.000000,0.000000,0.014922,0.036930,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.173735,0.045598,0.000000,0.105881,0.000000,0.000000
19381,0.000000,0.295178,0.338884,2.203010,0.000000,0.000000,0.000000,0.018881,0.000000,0.000000,...,0.086244,0.036159,0.000000,1.112526,0.382618,2.942655,1.974210,0.000000,0.232050,0.000000
19382,0.000000,0.435921,0.562314,4.979970,0.069907,0.000000,0.000000,0.000000,0.000000,0.058928,...,0.027289,0.000000,0.034355,0.860061,1.054328,4.721528,2.303271,0.334622,0.329754,0.000000
19383,0.174186,0.438273,0.000000,0.318075,0.437959,0.000000,0.014922,0.075110,0.000000,0.058540,...,0.000000,0.023426,0.168595,0.000000,0.000000,0.048617,0.000000,0.000000,0.000000,0.026664

In [11]:
user_p_id =p.loc[6,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

어린이/액상요구르트    96.0
청과            45.0
엘레강스          30.0
국내생수          29.0
숙녀고정행사        28.0
재사용봉투         26.0
유제품           24.0
생굴            23.0
무우            23.0
기초 화장품        23.0
Name: 6, dtype: float64

In [12]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [13]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,9)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 9, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

                  pred_score
기타(가발포장담배연구사진수선)   28.777100
피혁                 12.487277
고정행사(스포츠)          11.329929
JDX골프               9.903209
제과제빵                9.707186
아이스크림               8.852728
브랑제리                8.621395
유기농채소               8.307771
농산단기행사              8.040374
화과자                 8.031496
특산물행사               8.017893
케익류                 7.974090
양과자류                7.931374
가공행사                7.852464
숙녀단기행사              7.776812
일용잡화                7.771575
벨라모                 7.738684
양과(세트행사)            7.615709
기타국산소형가전            7.603236
건강식품(비타민)           7.474985

# 활용방안
-  나에게 꼭 맞는 상품 추천 받아보기 
-  랜덤으로 상품 할인 추천

In [15]:
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])   # 추천점수
recomm_pr[:10]

고객번호를 입력하세요:5

              추천점수
계육       26.062147
가공행사     25.810039
건과       25.114416
멸치류      25.027293
전문베이커리   24.729706
수입육      23.976216
건생선      23.910691
떡        23.853529
규격김치     23.729626
선식(가루류)  23.286186

In [16]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,999)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 999, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

          pred_score
농산단기행사     11.570124
일용잡화       11.058498
계육         11.025836
가공행사       10.942984
멸치류        10.416011
건강식품(홍삼)   10.369172
규격김치       10.083893
대형테넌트      10.081547
수산단기행사     10.055256
선식(가루류)     9.865660
건생선         9.815528
에스프레소       9.774314
뷰티상품        9.757699
화과자         9.691874
규격젓갈        9.621160
양념육         9.521074
기타생선        9.450133
벌크김치        9.326907
친환경올가       9.291204
장류          9.233583

In [17]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)

aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)

df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,704).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

고객번호   index  할인여부_y 할인율_y
0        14K     0.0   0.0
1       2단우산     0.0   0.0
2       3단우산     0.0   0.0
3      3분요리류     1.0   39%
4     4대 B/D     0.0   0.0
...      ...     ...   ...
3515     흑미류     0.0   0.0
3516   흰다리새우     0.0   0.0
3517      히터     0.0   0.0
3518     히터기     1.0   20%
3519    힐앤토트     0.0   0.0

[3520 rows x 3 columns]

In [18]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res

     품목명       평가점수  할인여부  할인율
1   일용잡화  11.058498   1.0  30%
4    멸치류  10.416011   1.0  21%
6   규격김치  10.083893   1.0  20%
10   건생선   9.815528   1.0  14%

## 행렬 분해